@{
    ViewBag.Title = "CafePage";
}

      <div class="wrap" id="content">
        <div class="content content-type-page" id="cid-3">
                      <div class="cafe-tpl">
  <div class="lunch"></div>
  <div class="function"></div>
  <div class="events"></div>
  <div id="wines-info">

    <div class="wines"></div>
   
    
    </div>
  </div>
</div>

</div>
<br />
<br />
<br />